*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    display: flex;
    background-color: #f4f4f4;


    /* flex-direction: row; */
    /* justify-content: start; */
    /* justify-content is the main axis in aspect of column  */      /* main axis is vertical */
    /* align-items: start; */
    /* align-items is the cross axis in aspect of column  */         /* cross axis is horizontal */
    /* flex-wrap: wrap;  */
    /* when item's declare size cannot fit in line anymore, it will move last items to next line responsively  */
   
}

.item{
    flex-basis: 300px; /* flex-basis works as width  */
    height: 100px;
    background-color: #254de4;
    margin: 10px;
    color: white;


    /* to manage flex-items */
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-of-type(1){
    flex-shrink: 1;
}
.item:nth-of-type(2){
    flex-shrink: 2;
}
.item:nth-of-type(3){
    flex-shrink: 3;
}
/* item shrink according to given number */


/* .item:nth-of-type(1){
    flex-grow: 1;
}  
.item:nth-of-type(2){
    flex-grow: 2;
}
.item:nth-of-type(3){
    flex-grow: 1;
} */    /* flex-grow makes the item grow 1x responsively, takes entire width of line */

/* .item:nth-of-type(1){
    order: 3;
}
.item:nth-of-type(2){
    order: 2;
}
.item:nth-of-type(3){
    order: 1;
} */

/* .item:nth-of-type(2){
    flex-basis: 200px; 
} */    /* flex-basis works as width  */


